* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  margin-top: 150px; /* Dopasuj wartość w zależności od wysokości nagłówka */
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Zwiększ indeks z, aby nagłówek był nad innymi elementami */
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  /* background-color: #f8f9fa; */
  text-align: center;
  padding: 1rem;
  margin-top: auto; /* Dodane aby footer był przyklejony na dole */
  width: 100%;
}

/* Style dla alertów */
.alert {
  position: fixed;
  top: 120px; /* Dopasuj wartość w zależności od wysokości nagłówka */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1500; /* Upewnij się, że alerty są nad innymi elementami, w tym nagłówkiem */
  margin-bottom: 100px;
  padding: 10px 20px;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.alert-success {
  background-color: #4caf50;
  color: #FAFAFA;
}

.alert-error {
  background-color: #F4511E;
  color: #fffde7;
}

.alert-warning {
  background-color: #f5ba13;
  color: #333;
}

footer p {
  color: #ccc;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin: 60px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.create-note button {
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

form h2 {
  text-align: center;
}

form p.form-question {
  margin: 20px auto;
}

/* Wyśrodkowanie nagłówka i pytania */
.create-note h2,
.create-note .form-question {
  text-align: center;
  margin-bottom: 30px;
  position: fixed;
}

.create-note-area {
  position: fixed;
  top: 100px; /* Ustawienie tuż pod nagłówkiem, dostosuj wartość do wysokości nagłówka */
  left: 0;
  width: 100%;
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  z-index: 1000; /* Ustaw indeks z poniżej nagłówka */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 16px;
}

/* Stylizacja szczegółów notatki */
.note-details {
  margin-bottom: 30px;
}

.note-field {
  display: flex;
  margin-bottom: 15px;
}

.note-field label {
  flex: 0 0 150px;
  font-weight: bold;
}

.note-field span {
  flex: 1;
}

/* Stylizacja przycisków */
.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.delete-button {
  background-color: #4caf50;
}

.cancel-button {
  background-color: #f4511e;
}

/* Efekt hover dla przycisków */
.delete-button:hover {
  background-color: #388e3c; /* Zielony kolor po najechaniu */
}

.cancel-button:hover {
  background-color: #d32f2f; /* Czerwony kolor po najechaniu */
}

.fab-edit-button:hover {
  opacity: 0.9;
}

/* Dostosowanie odstępów dla pytania */
.form-question {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Responsywność dla mniejszych ekranów */
@media (max-width: 480px) {
  .note-field {
    flex-direction: column;
    align-items: flex-start;
  }

  .note-field label {
    margin-bottom: 5px;
  }
}

/* My added styles */
.wrapper {
  padding: 20px;
}

.main-panel-wrapper, .login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-panel-wrapper h1 {
  margin-top: 100px;
}

.main-panel-wrapper .info {
  margin-top: 50px;
}

.container {
  display: flex;
  height: 20vh; /* Pełna wysokość okna przeglądarki */
}

.left, .right { 
  flex: 1; /* Każda połowa zajmuje równą szerokość */ 
  display: flex; 
  justify-content: center; /* Środek poziomo */ 
  align-items: center; /* Środek pionowo */
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.clear-button {
  margin-left: auto;
}

.fab-buttons-container {
  display: flex;
  justify-content: space-between; /* Równomierne rozmieszczenie przycisków */
  position: absolute;
  right: 18px;
  bottom: -18px;
  width: 120px; /* Możesz dostosować szerokość, aby zmieścić przyciski obok siebie */
}

.fab-buttons-container2 {
  display: flex;
  justify-content: space-between; /* Równomierne rozmieszczenie przycisków */
  position: absolute;
  right: 18px;
  bottom: -18px;
}

.custom-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Dodaj odstęp od góry */
}

.custom-fab {
  margin-top: 10px; /* Dodaj odstęp między tekstem a przyciskiem */
}

/* Dodaj odstęp w poziomie między elementem h2 a elementem Link */
.left h2 {
  margin-right: 10px; /* Dostosuj wartość odstępu */
}

.right h2 {
  margin-right: 10px; /* Dostosuj wartość odstępu */
}


